#####################################################################################
#                           DLFSS Configuration file                                #
#___________________________________________________________________________________#

ConfVersion = 07282008




#####################################################################################
# PERFORMANCE SETINGS                                                               #
#                                                                                   #
#    
#    Priority.
#
#      Process
#        Process proirity setting (Used only at Windows)
#        Default: 1 (HIGH)
#                 0 (Normal)
#
#   Interval.
#
#     DriverSave
#        Default: 60000 (milliseconds)
#
#     RaceSave
#        Default: 5000 (milliseconds)
#
#     GameThreadUpdate
#        Game thread update rate, Time Between Drive_LFSS, Update game Feature.
#        Default: 50 (milliseconds)
#
#     LogFlush
#        Time between log is writed on the hard drive.
#        Default: 8000 (milliseconds)
#
#___________________________________________________________________________________#

Priority.Process = 0
Interval.DriverSave = 60000
Interval.RaceSave = 5000
Interval.GameThreadUpdate = 10
Interval.LogFlush = 8000




#####################################################################################
# LOGGING
#
#    LogDisable
#        Enter your mask to disable 1 or multiple log.
#        Default: 65535 (All Disable)
#    Flag List to Create you Mask.
#     LOG_NORMAL = 1                //Only Control File Log
#     LOG_CHAT = 2
#     LOG_COMMAND = 4
#     LOG_ERROR = 8                 //Only Control File Log
#     LOG_DEBUG = 16
#     LOG_MISSING_DEFINITION = 32   //Only Control File Log
#     LOG_NETWORK = 64
#     LOG_DATABASE = 128
#     LOG_PING = 256
#____________________________________________________________________________________

Log.Disable = 0
Log.Path = ./




#####################################################################################
# LFSServer CONNECTIONS
#
#    LFSServer.$ServerName
#      $ServerName: should be Replaced by the Unique String Identifier for the server.
#                   You can create as much as you wan.
#
#    LFSServer.$ServerName.ConnectionInfo = hostname;port;password;commandPrefix;appName;insimOptionMask;networkRequestInterval;networkThreadUpdate
#      hostname: Ip or DNS Name.
#      port: Port Number.
#      password: Server password to get Admin right.
#      commandPrefix: Ingame Chat message Command Prefix.
#        default=!
#      insimOptionMask: See below for all Flag Option, just have to sum together.
#        default=40 (8+32)
#      networkRequestInterval: In miliseconde, minimun 10.
#        default=34 (milliseconds)
#      networkThreadUpdate
#        Network thread update rate, Time Between Drive_LFSS,
#                                  send/receive Network Packet.
#        Default: 25 (milliseconds)
#
#      example: lfs.server.net;29999;mypass;!;Drive_LFSS;40;10;100
#
#    insimOptionFlag To create your Mask.
#     INSIM_FLAG_SPARE_0 = 1
#     INSIM_FLAG_SPARE_1 = 2
#     INSIM_FLAG_LOCAL = 4
#     INSIM_FLAG_KEEP_MESSAGE_COLOR = 8
#     INSIM_FLAG_RECEIVE_NLP = 16
#     INSIM_FLAG_RECEIVE_MCI = 32
#
#___________________________________________________________________________________#

LFSServer.AleajectaS1.ConnectionInfo = 67.212.66.26;30001;dexxa;$;Drive_LFSS;40;10;9
LFSServer.AleajectaS2.ConnectionInfo = 67.212.66.26;29999;dexxa;$;Drive_LFSS;40;10;9
LFSServer.AleajectaFBM.ConnectionInfo = 67.212.66.26;30000;dexxa;$;Drive_LFSS;40;10;9
LFSServer.AleajectaDemo.ConnectionInfo = 67.212.66.26;29989;dexxa;$;Drive_LFSS;40;10;9




#####################################################################################
# Database
#
#      One Database.MySQL/SQLite, must be setup, if both are setup, MySQL is the Default.
#
#      Database.MySQL.ConnectionInfo = $connectionInfo
#        $connectionInfo: hostname;port;username;password;database;useCompression
#          hostname: Ip or URL of the MySQL server, can be a NamedPipe.
#          port: port number of the server 0-65535.
#          username: MySQL username.
#          password: password for the MySQL username.
#          database: Selected database Name.
#            default=drive_lfss
#          useCompression: use gzip compression during communication
#            default=no
#
#      Database.SQLite.ConnectionInfo = $databaseFullPath
#        $databaseFullPath: full path+filename of the db file.
#          example: C:\MyDB\Drive_LFSS.db
#          default: Drive_LFSS.db
#___________________________________________________________________________________#

Database.MySQL.ConnectionInfo = 127.0.0.1;3306;root;dexxa;drive_lfss;no
#Database.SQLite.ConnectionInfo = Drive_LFSS.db
